<h1>Listing items</h1>

<table>
  <tr>
    <th>Book</th>
    <th>Wishlist</th>
    <th>Quantity ordered</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.book_id %></td>
    <td><%= item.wishlist_id %></td>
    <td><%= item.quantity_ordered %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
