<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @item.book_id %>
</p>

<p>
  <b>Wishlist:</b>
  <%= @item.wishlist_id %>
</p>

<p>
  <b>Quantity ordered:</b>
  <%= @item.quantity_ordered %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
